.banner{
    background-color: #000000;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0 ;
}

#small-tesla{
    height: 300px;
    width: 500px;
}

#tesla-title{
    font-size: 100px;
}